[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-modeltranslation = "*"
django-parler = "*"
django-translated-fields = "*"
django-translations = "*"
black = "*"
isort = "*"
ruff = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.10"
